body {
    margin: 0;
    background: #e4dfdf38;
    font-weight: 300;
}

.container {
    width: 100%;
}

header {
    background: #a0d2d2;
    margin-bottom: 15px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    width: 150px;
    height: 50px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    margin-right: 20px;
    padding-top: 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #000;
}

nav ul li a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 0;
    transitoin: all ease-in-out 500ms;
}

nav ul li a:hover::before {
    width: 100%;
}

input {
    display: block;
}

ul#messages {
    list-style: none;
    padding: 10px;
}

ul#messages li {
    padding: 3px 5px;
    position: relative;
}


ul#messages li img {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 10px;
}

ul#messages li strong {
    display: inline-block;
    min-width: 130px;
    text-align: left;
    font-size: 1em;
}

ul#messages li span {
    width: 70%;
    font-size: 1.6em;
    display: inline-block;
    padding-left: 15px;
    text-align: left;
}

ul#messages li small {
    font-size: .6em;
    display: inline-block;
    text-align: right;
    width: 100px;
    position: absolute;
    bottom: -8px;
    right: -8px;
}
