<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <style>
        input {
            display: block;
        }

        ul {
            list-style: none;
        }
    </style>
</head>
<body>
<ul id="messages"></ul>
<form id="chatbox">
    {{.UserData.name}}: <br>
    <textarea></textarea>
    <input type="submit" value="Send">
</form>
<script>
    const $ = document.querySelector.bind(document);
    const textArea = $('textarea');
    const listMessage = $('#messages');
    const onSubmitForm = (socket, event) => {
        event.preventDefault();
        const textAreaValue = textArea.value;
        if (textAreaValue === "" || !socket) {
            return
        }
        socket.send(JSON.stringify({"Message": textAreaValue}));
        textArea.value = ""
    };
    const socket = new WebSocket("ws://{{.Host}}/room");
    socket.onclose = function () {
        console.log('Connection has been closed');
    };
    socket.onmessage = function (event) {
        const item = document.createElement('li');
        const strong = document.createElement('strong');
        const span = document.createElement('span');
        const msg = JSON.parse(event.data);
        span.textContent = msg.Message;
        strong.textContent = msg.Name +  ": ";
        item.appendChild(strong);
        item.appendChild(span);
        listMessage.appendChild(item)
    };
    $('#chatbox').addEventListener('submit', onSubmitForm.bind(null, socket))

</script>
</body>
</html>